<div id="main" class="<%= item.layout %>" itemscope itemprop="blogPost">
    <article itemprop="articleBody">
        <div class="article-content project-content">
            <%- partial('gallery') %>
            <% if( table&&(item.toc !== false) && theme.toc.article){ %>
            <div id="toc" class="toc-article">
                <strong class="toc-title"><%= __('contents') %></strong>
                <%- toc(item.content) %>
            </div>
            <% } %>
            <% item.projects.forEach(function(i){ %>
                <a  href="<%= i.url%>" class="project-item">
                    <div class="img-box" style="background: #ddd url('<%= i.img%>') no-repeat center">
                    </div>
                    <div class="project-name"><%= i.name%></div>
                </a>
            <% }); %>
        </div>
    </article>
    <%- partial('pagination') %>
    <%- partial('comment') %>
</div>  